@import url('https://fonts.googleapis.com/css2?family=Jura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=hauntedgallery:wght@100&display=swap');

* {
  text-rendering: geometricPrecision;
  font-kerning: normal;
  -webkit-font-smoothing: subpixel-antialiased;
  
}

html {
  background: (90deg, rgb(219, 202, 104) 0%, rgb(210, 179, 111) 100%);
}

@font-face {
  font-family: hauntedgallery;
  src: url(fonts/hauntedgallery.woff2);
}

@font-face {
  font-family: hauntedgallery;
  src: url(fonts/HauntedgalleryRegular.woff2);
}

@font-face {
  font-family: typewriterinked;
  src: url(fonts/TypewriterInkedRegular.woff2);
}

body {
  font-family: typewriterinked, sans-serif;
  width: calc(100vw-20px);
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
  letter-spacing: calc(1.2rem*0.12);
  word-spacing: calc(1.2rem*0.16);
  background:   linear-gradient(90deg, rgb(219, 202, 104) 0%, rgb(210, 179, 111) 100%);
  padding: 4px 100px;
  height: 98.6vh;
  margin: 0;

}

h1 {
  font-size: 1.8rem;
  letter-spacing: calc(1.8rem*0.12);
  word-spacing: calc(1.8rem*0.16);
  margin-bottom: 2.4rem;
  font-family: hauntedgallery;
}

h2 {
  font-size: 1.5rem;
  letter-spacing: calc(1.5rem*0.12);
  word-spacing: calc(1.5rem*0.16);
  margin-bottom: 1rem;
  margin-top: 2rem;
  font-family: 'hauntedgallery';
  
}

.rotate1 {
  transform: rotateX(1deg) rotateY(-1deg) rotateZ(-1deg);
}

.rotate2 {
  transform: rotateX(-2deg) rotateY(3deg) rotateZ(2deg);
}

.donations {
  position: absolute;
  right: 4px;
  top: 4px;
  width: auto;
  max-width: 15%;
  padding: 4px;
  border: 1px solid rgb(141, 101, 0);
  border-radius: 10px;
  font-size: 0.8rem;
  overflow-wrap: break-word;
  overflow: hidden;
  font-family: "hauntedgallery";
  display: none;
}

.dollar {
  font-size: 1.6rem;
  width: 100%;
  text-align: center;
  display: inline-block;
}

.donations p {
  margin: 0;
}

.goldenrod {
  color: rgb(141, 101, 0);
}


.center{
  text-align: center;
}

.navbar {
  background-color: #28292c;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

ul {
list-style-type: none;
}

a {
  color: #14381b;
  text-decoration: none;
}
a:hover {
  color: #006d04;
}

div.medium {
  width: auto;
  max-width: 50%;
  margin-right: 25%;
  margin-left: 25%;
}

@media only screen and (max-width: 996px) {
  div.medium, .medium > p, .medium > div{
    max-width: 100%;
    width: auto;
  }

  div.medium {
    margin: 0;
  }

  .donations {
  position: relative;
  width: calc(100%-8px);
  max-width: 100%;
  padding: 4px;
  margin: 4px;
  border: 1px solid white;
  border-radius: 10px;
  font-size: 0.8rem;
  overflow-wrap: break-word;
  font-family: "hauntedgallery";
} 
}

div.medium

div.medium p {
  text-align: left;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: fit-content;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  z-index: 10;
}

button, input {
  background: none;
  border: none;
  font-family: inherit;
}

input {
  background: linear-gradient(to bottom, #e0e0e0 0%, #fff 100%);
}

#myInput {
  display: none;
}

span, button {
  display: inline;
}

.blue {
  color:#7fa8ff;
}

.center {
  text-align: center;
}

textarea {
  resize:none;
  border: none;
  height: 1.4rem;
  background: none;
  border-radius: 10px;
  display: inline;
  width: 80%;
  font-size: 1rem;
  margin-bottom: 5px;
  font-family: inherit;
}

.emoji {
  display: inline;
  width: 1.4rem;
  margin-right: 5px;
  font-size: 1rem;
  height: 1.4rem;
}

.emoji#text, textarea.emoji::placeholder, textarea.emoji::-webkit-input-placeholder {
  text-align: center;
  vertical-align: middle;
}


textarea:hover, textarea:focus-within {
  box-shadow: inset 0 0 5px black;
  outline: none;
}

.twocol {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.col {
  width: 50%;
}

canvas {
  width: auto;
  max-width: 320px;
  max-height: 180px;
  box-shadow: inset 0 0 20px black;
  border-radius: 10px;
  border: 1px solid black;
  margin: 5px 0;
}

.h2styled {
  font-size: 1.4rem;
  height: 2.4rem;
}

button {
  padding: 5px;
  box-shadow: 0 0 10px black;
  border-radius: 10px;
  font-family: inherit;
  font-size: inherit;
  margin: 10px 0;
}

button:active {
  box-shadow: inset 0 0 10px black;
}

.middlecenter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: rgb(0, 0, 0);
  height: 100vh;
}

.middlecenter h1 {
  font-size: 3rem;
}

.middlecenter > * {
  font-family: typewriterinked !important;
  -webkit-font-smoothing: subpixel-antialiased;
}

.extralarge {
  font-size: 10rem !important;
}

.businesslink {
  font-weight: 600;
}